# Popov I.A. IU5-23M lab6

Задание:
    1.Подготовить датасет графовых данных
    2.Подобрать модель и гиперпараметры обучения для получения качества AUC > 0.65

In [1]:
import numpy as np
import pandas as pd

In [7]:
train = pd.read_csv('train.txt', sep='\t', names=['entity1id','relationid', 'entity2_id'])
test = pd.read_csv('test.txt', sep='\t', names=['entity1id','relationid', 'entity2_id'])
valid = pd.read_csv('valid.txt', sep='\t', names=['entity1id','relationid', 'entity2_id'])
entity = pd.read_csv('all_entity_info.txt', sep='\t')

In [6]:
valid.head()

  entity1id          relationid entity2_id
0  1094A75A  author_write_paper   79849086
1  80D97A1B     paper_in_domain   01E7DD16
2  7A074A4D     paper_in_domain   09064767
3  7F8038BA  author_write_paper   7EFE7A73
4  7E9EF4DA     paper_in_domain   04984686

In [8]:
entity.head()

         id                                               name   type
0  7C7CAEED  On rank correlation in information retrieval e...  paper
1  7AEE29E3                 The Voting Model for People Search  paper
2  7D68490B                Document clustering with committees  paper
3  7A488256  A comparison of indexing techniques for Japane...  paper
4  7D5CD2DF                      Feature selection for ranking  paper

In [9]:
print(valid.shape)
print(entity.shape)

(3670, 3)
(16362, 3)