## Popov I.A. IU5-23M lab2

In [2]:
import numpy as np
import pandas as pd

In [55]:
raw_data = pd.read_csv('weatherAUS.csv', sep=',')

In [56]:
raw_data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [57]:
raw_data.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

In [58]:
raw_data_with_na = [c for c in raw_data.columns if raw_data[c].isnull().sum() > 0]
raw_data_with_na

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustDir',
 'WindGustSpeed',
 'WindDir9am',
 'WindDir3pm',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'RainToday',
 'RainTomorrow']

In [59]:
[(c, raw_data[c].isnull().sum()) for c in raw_data_with_na]

[('MinTemp', 1485),
 ('MaxTemp', 1261),
 ('Rainfall', 3261),
 ('Evaporation', 62790),
 ('Sunshine', 69835),
 ('WindGustDir', 10326),
 ('WindGustSpeed', 10263),
 ('WindDir9am', 10566),
 ('WindDir3pm', 4228),
 ('WindSpeed9am', 1767),
 ('WindSpeed3pm', 3062),
 ('Humidity9am', 2654),
 ('Humidity3pm', 4507),
 ('Pressure9am', 15065),
 ('Pressure3pm', 15028),
 ('Cloud9am', 55888),
 ('Cloud3pm', 59358),
 ('Temp9am', 1767),
 ('Temp3pm', 3609),
 ('RainToday', 3261),
 ('RainTomorrow', 3267)]

In [ ]:
#Устранение пропусков